.button {
    font-family: raleway;
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
    display: inline-block;
}
  
.buttonPrimary {
    background: var(--main-primary);
    color: white;
}

.buttonSecondary {
    background: transparent;
    color: var(--main-primary);
    border: 1px solid var(--main-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}