.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleSection h2 {
  padding-top: 2rem;
  color: black;
  font-size: 3vw;
}

.onlyImg {
  display: flex;
  width: 100%;
  height: auto; 
  padding: 0 8rem;
  background-color: white;
}

.video {
  padding: 2rem 8rem;
  background-color: white;
}

@media (max-width: 768px)  {
  .titleSection {
    padding: 10rem 1.5rem 0 1.5rem;
  }

  .onlyImg {
    padding: 0 1.5rem;
  }
}
