.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.onlyImg {
  display: flex;
  width: 100%;
  height: auto; 
  padding: 0 8rem;
  background-color: white;
}

.video {
  padding: 2rem 8rem;
  background-color: white;
}

.finalSection {
  padding-bottom: 1.5rem;
  background-color: white;
}

.caption {
  padding: 0 8rem;
}

.caption h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5rem 0 1rem;
}

.caption p {
  font-weight: 300;
  padding-bottom: 1rem;
}

@media (max-width: 768px)  {
  .titleSection {
    padding: 10rem 1.5rem 0 1.5rem;
  }

  .onlyImg {
    padding: 0 1.5rem;
  }

  .video {
    padding: 2rem 1.5rem;
  }

  .caption {
    padding: 0 1.5rem;
  }
}
