.titleContent {
    padding: 4rem 8rem 3rem;
}

.titleContent h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.titleContent p {
    font-weight: 300;
}

.titleContent {
    letter-spacing: 0.1px;
}

@media (max-width: 768px)  {
    .titleContent {
        padding: 2.5rem 1.5rem 1.5rem;
    }

    .titleContent h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}