.titleContent {
    padding: 4em 6em 3em 6em;
}

.titleContent h2 {
    font-size: 3vw;
    padding-bottom: 1.5rem;
}

.titleContent p {
    font-weight: 300;
}

.titleContent {
    letter-spacing: 0.1px;
}