.reviewSection {
    padding: 4em 8em;
}

.reviewSection h2 {
    padding-bottom: 1.5rem;
}

.reviewSection h3 {
    padding-bottom: 1rem;
}

.reviewSection p {
    padding-bottom: 0.75rem;
}

.spacing {
    padding: 0.75rem;
}