.contactContainer {
    position: relative;
}

.copied {
    margin-top: 0.4rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(226, 209, 243, 1);
    border-radius: 10px;
    padding: 0.5rem;
    width: auto;
    display: inline-block;
    font-size: 12px;
}