:root {
  --main-latte: rgb(252, 246, 242);
  --main-grey: rgb(87, 85, 83);
  --main-primary: rgb(70,0, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: black;
  background: var(--main-latte);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: raleway;
  font-weight: 200;
  font-size: 8vw;
}

h2 {
  font-family: raleway;
  font-weight: 200;
  font-size: 4vw;
  color: var(--main-primary);
}

p {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

h6 {
  font-weight: 400;
  font-size: 0.75em;
}