:root {
  --main-latte: rgb(251, 246, 242);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {

}

body {
  color: black;
  background: var(--main-latte);
}

a {
  color: inherit;
  text-decoration: none;
}

.profile-banner {
  display: flex;
  justify-content: center;
}

.container-left {
  width: 70%;
}

.container-right {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0, 4rem;
}