:root {
  --main-latte: rgb(251, 246, 242);
  --main-grey: rgb(87, 85, 83);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  font-size: 16px;
}

body {
  color: black;
  background: var(--main-latte);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  padding: 0.5em 0;
}

h2 {
  font-size: 1em;
  font-weight: 600;
}

.profile-banner {
  display: flex;
  justify-content: center;
}

.profile-banner p {
  padding: 2em 0;
}

.container-left {
  width: 50%;
}

.container-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 6em 0 4em;
}