.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  text-align: left;
}

.hero {
  height: calc(100vh - 3rem);
  display: flex;
  position: relative;
  margin-top: -100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-height: 600px) {
  .hero {
    height: calc(600px - 10rem);
  }
}

.natalie {
  padding-bottom: 6rem;
}

.highlight {
  color: var(--main-primary);
}

.smalltitle {
  font-size: 3vw;
  color: var(--main-primary);
}

.exploreWork {
  padding: 4rem 0 2rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.linkTarget {
  position: absolute;
  top: -128px;
}

.statement {
  text-align: center;
  padding: 3rem 8rem;
  background-color: white;
  width: 100%;
}

.statement h2 {
  font-size: 1.5rem;
}

.exploreId {
  position: relative;
  top: -100px;
}

.projects {
  padding: 4rem 4rem 3rem 4rem;
  display: flex;
  max-width: 150ch;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}

.projects li {
  width: 34rem;
  display: flex;
  background: lightgray;
  border-radius: 1.5em;
  height: 24rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s ease-in, transform 0.2s ease-in;
}

.projects li a {
  padding: 2rem;
  flex-grow: 1;
}

.projects li:hover {
  transform: translateY(-5px);
  box-shadow: 10px 8px 14px 0px rgba(70, 0, 247, 0.15),
  2px 2px 5px 0px rgba(70, 0, 247, 0.3);
}

.projects .projectOne {
  background-image: url("/images/housebrain/housebrain-card-cover.webp");
  background-size: cover;
  background-position: center;
}

.projects .projectTwo {
  background-image: url("/images/umuntu/umuntu-card-cover.webp");
  background-size: cover;
  background-position: center;
}

.projects .projectThree {
  background-image: url("/images/finchair/finchair-card-cover.webp");
  background-size: cover;
  background-position: center;
}

.projects .projectFour {
  background-image: url("/images/sierra/sierra-card-cover.webp");
  background-size: cover;
  background-position: center;
}

.projects p {
  padding: 0.2rem 0;
  font-size: 0.8rem;
}

.profileBanner {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4rem;
}

.boldText {
  font-weight: 700;
  background-color: rgba(70,0, 247, 0.15);
}

.profile {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

.containerLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerRight {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

.containerRight > h2, .containerRight > p {
  padding-bottom: 1.5rem;
}

@media (max-width: 768px)  {
  .hero {
    padding: 0 1.5rem;
  }

  .hero h1 {
    padding-bottom: 2rem;
  }

  .smalltitle {
    font-size: 3vw;
  }

  .exploreWork {
    padding: 0 0 1.5rem;
    text-align: left;
  }

  .natalie {
    padding-bottom: 3rem;
  }

  .main {
    gap: 1rem;
  }

  .statement {
    padding: 1.5rem 1.5rem;
  }

  .statement h2 {
    font-size: 1.2rem;
  }

  .projects {
    padding: 3rem 1.5rem;
    max-width: none;
  }

  .projects li {
    width: 21rem;
    box-shadow: 2px 2px 5px 0px rgba(70, 0, 247, 0.3);
  }

  .profileBanner {
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1.5rem;
  }

  .profile {
    width: 60%;
    height: auto;
    border-radius: 100%;
  }
  
  .containerLeft {
    width: 100%;
    padding: 0 0;
  }
  
  .containerRight {
    width: 100%;
    padding: 1rem 0;
  }
  
  .containerRight > h2, .containerRight > p {
    padding-bottom: 1rem;
  }
}

@media (max-width: 390px)  {
  .projects li {
    width: 19rem;
  }
}

@media (hover: none) and (pointer: coarse) {
  .projects li:hover {
    transform: none;
    box-shadow: 2px 2px 5px 0px rgba(70, 0, 247, 0.3);
  }

  .projects li {
    transition: none;
  }
}

@media (min-width: 1600px) {
  .statement {
    padding: 3rem 14rem;
  }

  .containerRight {
    padding: 0 6rem 0 3rem;
  }

  .containerRight > h2, .containerRight > p {
    padding-bottom: 1.75rem;
  }

  .projects li {
    width: 38rem;
  }

  .profileBanner {
    padding: 6rem;
  }

}

@media (min-width: 2000px) {
  .statement {
    padding: 3rem 18rem;
  }

  .containerRight {
    padding: 0 12rem 0 4rem;
  }
}
