.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  text-align: left;
}

.natalie {
  padding-bottom: 0.75em;
}

.hero {
  padding: 10rem 0 3rem 0;
}

.highlight {
  color: var(--main-primary)
}

.smalltitle {
  font-size: 3vw;
  color: var(--main-primary)
}

.projects {
  padding: 3em 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}

.projects li {
  width: 30rem;
  padding: 3rem;
  background: lightgray;
  border-radius: 2em;
  height: 20em;
}

.projects .projectOne {
  background-image: url("/finchair/Finchair-3-spray.jpg");
  background-size: cover;
  color: white;
}

.projects p {
  padding: 0.5em 0;
  font-size: 0.7em;
}

.profileBanner {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4em 0;
}

.profile {
  width: 60%;
  height: auto;
  border-radius: 100%;
  padding: 2em;
}

.containerLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRight {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 4em;
}

.containerRight > h2, .containerRight > p {
  padding-bottom: 2rem;
}