.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.onlyImg {
    display: flex;
    /* border-radius: 1.5em; */
    width: 16rem;
    height: auto;
    padding: 2rem 0;  
}

.experimentImages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
