.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main p {
    font-size: 1.25vw;
    padding: 0.5rem 0 1rem 0;
}

.onlyImg {
    display: flex;
    /* border-radius: 1.5em; */
    height: 24rem;
    width: auto;
    padding: 2rem 0;  
}

.experimentImages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
