.contactBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-latte);
}

.contactText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4em;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.linkedIn {
  transition: box-shadow 0.25s ease-in, transform 0.2s ease-in;
}

.linkedIn:hover {
  transform: translateY(-3px);
}

.contactInner {
  max-width: 40ch;
}

.contactInner > p, .contactInner > h2 {
  padding-bottom: 2rem;
}

.contactImg {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 4em;
}

.profile {
  width: 60%;
  height: auto;
  border-radius: 100%;
}