.contactBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-latte);
  padding: 2rem 0;
}

.contactText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4em;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.linkedIn {
  transition: box-shadow 0.25s ease-in, transform 0.2s ease-in;
}

.linkedIn:hover {
  transform: translateY(-3px);
}

.contactInner {
  max-width: 40ch;
}

.contactInner > p {
  padding-bottom: 2rem;
}

.contactInner > h2 {
  padding-bottom: 1rem;
}

.contactImg {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

@media (min-width: 1240px) {
  .contactBanner {
    padding: 0 0;
  }
}

@media (max-width: 768px)  {
  .contactBanner {
    flex-direction: column-reverse;
  }

  .contactBanner p {
    font-size: 1rem;
  }


  .contactText {
    width: 100%;
    padding: 1rem 2rem 2rem;
  }
  
  .contactContainer {
    width: 100%;
  }

  .contactImg {
    width: 70%;
  }
}