.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  max-height: 4rem;
  width: auto;
}
