.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0 5rem;
}
.projectHeader {
  display: flex;
  justify-content: center;
  
}

.coverImg {
  width: 90%;
  height: auto;
}

.titleInfo {
  width: 50%;
  display: flex;
  display: inline-block;
  align-self: flex-end;
  flex-direction: column;
  padding-bottom: 6rem;
}

.titleInfo h1 {
  color: var(--main-primary);
  padding-bottom: 1rem;
}

.titleInfo h2 {
  color: black;
  font-size: 3vw;
}

.projectHeaderImg {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
