.footerBanner {
  width: 100%;
  padding: 3rem 4rem 1.5rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.randomiser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.randomiser p {
  font-weight: 300;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 1rem;
}

@media (min-width: 768px)  {
  .arrowDown {
    display: none;
  }
}

@media (max-width: 768px)  {
  .footerBanner {
    padding: 3rem 1.5rem 0.7rem 1.5rem;
  }

  .randomiser {
    flex-direction: column;
    align-items: normal;
    gap: 1.5rem;
  }

  .arrowRight {
    display: none;
  }

  .copyright {
    flex-direction: column;
    align-items: normal;
    padding: 2rem 0 1rem;
  }
}

@media (min-width: 1600px)  {
  .footerBanner {
    padding: 3rem 6rem 1.5rem 6rem;
  }
}

@media (min-width: 2000px)  {
    .footerBanner {
      padding: 4rem 8rem 1.5rem 8rem;
    }
}