.projectHeader {
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    margin-bottom: 2rem;
  }
  
  .coverImg {
    max-width: 90%;
    height: auto;
  }
  
  .titleInfo {
    width: 50%;
    display: flex;
    display: inline-block;
    align-self: flex-end;
    flex-direction: column;
    padding-bottom: 6rem;
  }
  
  .titleInfo h1 {
    color: var(--main-primary);
    font-size: 8vw;
    padding-bottom: 1rem;
  }
  
  .titleInfo h2 {
    color: black;
    font-size: 2.7vw;
  }
  
  .projectHeaderImg {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px)  {
    .projectHeader {
      padding: 0 1.5rem;
    }

    .titleInfo h1 {
      font-size: 8vw;
    }

    .titleInfo h2 {
      font-size: 3vw;
    }
  }