.experimentContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 3rem 8rem 1rem 8rem;
}

.experimentContent {
    font-size: 2vw;
}

@media (max-width: 768px)  {
    .experimentContent {
        padding: 1.5rem 1.5rem 1rem;
    }
}
