.experimentContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 4rem 8rem 1rem;
}

.experimentContent {
    font-size: 2vw;
}

@media (max-width: 768px)  {
    .experimentContent {
        padding: 1.5rem 1.5rem 1rem;
    }
}

@media (min-width: 1600px)  {
    .experimentContent {
        padding: 4rem 14rem 1rem;
    }
}

  @media (min-width: 2000px)  {
    .experimentContent {
        padding: 4rem 18rem 1rem;
    }
}