.overviewSection {
    padding: 3em 4em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.overviewAlign {
    max-width: 90%;
}

.overviewSection h2 {
    font-size: 2.5vw;
    color: black;
    padding-bottom: 1rem;
}

.overviewSection h3 {
    color: var(--main-primary);
    font-size: 2vw;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.overviewSection p {
    font-size: 1.3vw;
    font-weight: 300;
}

.overviewInfo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
    gap: 2em;
}

.overviewInfo li {
    width: 30rem;
}

.successList {
    list-style: none;
}