.overviewSection {
    padding: 3rem 6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.overviewAlign {
    max-width: 90%;
}

.overviewSection h2 {
    color: black;
    padding-bottom: 1rem;
}

.overviewSection h3 {
    color: var(--main-primary);
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.overviewSection p {
    font-size: 1.1rem;
    font-weight: 300;
}

.overviewInfo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 2rem;
}

.overviewInfo li {
    flex: 1 1 calc(50% - 1rem)
}

.successList {
    list-style: none;
}

@media (max-width: 768px)  {
    .overviewSection {
        padding: 2.5rem 1.5rem;
        align-items: normal;
    }

    .overviewSection h2 {
        font-size: 2rem;
    }

    .overviewInfo li {
        width: auto;
        flex: 1 1 100%;
    }

    .overviewSection p {
        font-size: 1rem;
    }

    .overviewSection h3 {
        font-size: 1.3rem;
    }
  }

  @media (min-width: 1600px)  {
    .overviewSection {
        padding: 3rem 12rem;
    }
  }
