.projectImg {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 4rem 8rem;
}

.projectImg h3 {
    padding-bottom: 1.3rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.projectImg p {
    font-weight: 300;
}

.img {
    width: 100%;
    height: auto;  
}

.description {
    padding: 1rem 0;
    font-size: 1rem;
}

@media (max-width: 768px)  {
    .projectImg {
        padding: 2rem 1.5rem;
    }

    .projectImg h3 {
        padding-bottom: 1rem;
    }
}