.promo {
    padding: 3em;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.7vw;
    background-color: white;
}

.linkStyle {
    font-weight: 600;
    text-decoration: underline;
  }
  
.linkStyle:hover {
    background-color: rgba(70,0, 247, 0.10);
  }